{% extends base %}
{% load staticfiles %}

{% block other_css %}
<link rel="stylesheet" href="{% static "css/datepicker.css" %}" />
<link rel="stylesheet" href="{% static "css/bootstrap-timepicker.css" %}" />
<link rel="stylesheet" href="{% static "css/daterangepicker.css" %}" />
<link rel="stylesheet" href="{% static "css/bootstrap-datetimepicker.css" %}" />
{% endblock other_css %}

{% block breadcurmb_detail %}
    <li class="active">公司详情</li>    <!-- ##! maybe need to change here! -->
{% endblock breadcurmb_detail %}

{% block content %}
    {% block menu_nav %}
<div class="page-header">
    <ul class="nav nav-pills">
        <li>
            <a href={% url 'company_info_write' %}>单位基本情况</a>
        </li>
        <li>
            <a href={% url 'company_info_papers_write' %}>单位相关证明</a>
        </li>
        <li class="active">
            <a href={% url 'company_info_stackholders_write' %}>干系人情况</a>
        </li>
        <li>
            <a href={% url 'company_info_peoples_write' %}>技术人员情况</a>
        </li>
        <li>
            <a href={% url 'company_info_projects_write' %}>单位业绩情况</a>
        </li>
    </ul>
</div><!-- /.page-header -->

{% endblock menu_nav %}

<div class="col-sm-12 widget-container-col">
    <div class="widget-box transparent">
        <ul class="nav nav-tabs" id="myTab2">
            <li id="pf"><a href="{% url 'company_info_stackholders_write' %}">法定代表人</a></li>
            <li id="ps"><a href="{% url 'company_info_stackholders_write2' %}">技术负责人</a></li>
            <!--li id="pt"><a href="{% url 'company_info_stackholders_write3' %}">编制单位负责人</a></li-->
        </ul>
    </div>
</div><br /><br /><br />

{% if success == 1 %}
<div class="alert alert-block alert-success">
    <button type="button" class="close" data-dismiss="alert">
        <i class="ace-icon fa fa-times"></i>
    </button>
    <p>
        <strong>
            <i class="ace-icon fa fa-check"></i>
            修改成功!
        </strong>
    </p>
</div>
{% elif success == 2 %}
<div class="alert alert-block alert-danger">
    <button type="button" class="close" data-dismiss="alert">
        <i class="ace-icon fa fa-times"></i>
    </button>
    <p>
        <strong>
            <i class="ace-icon fa fa-times"></i>
            保存失败！
        </strong>
        您的身份证号在数据库中重复！
    </p>
</div>
{% elif success == 3 %}
<div class="alert alert-block alert-danger">
    <button type="button" class="close" data-dismiss="alert">
        <i class="ace-icon fa fa-times"></i>
    </button>
    <p>
        <strong>
            <i class="ace-icon fa fa-times"></i>
            保存失败！
        </strong>
        请提交100M以内的文件。
    </p>
</div>
{% endif %}

{% if page == '0' %}<form id="pw2_form" class="form-horizontal validationE" role="form"  method="post" enctype="multipart/form-data" action={% url 'company_info_stackholders_write' %} >
{% elif page == '1' %}<form id="pw2_form" class="form-horizontal validationE" role="form"  method="post" enctype="multipart/form-data" action={% url 'company_info_stackholders_write2' %} >
{% else %}<form id="pw2_form" class="form-horizontal validationE" role="form"  method="post" enctype="multipart/form-data" action={% url 'company_info_stackholders_write3' %} >
{% endif %}
    {% csrf_token %}
    <!-- #section:elements.form -->
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 姓名</label>
        <div class="col-sm-9">
            <input name="{{ form.name.name }}" value="{{ form.name.value|default:"" }}" type="text" id="form-field-1"
                   class="col-xs-10 col-sm-5 validate[required,maxSize[15]] readonly_if" />
        </div>
    </div>
{#    <div class="form-group">#}
{#        <label class="col-sm-3 control-label no-padding-right" for="select-2"> 性别</label>#}
{#        <div class="col-sm-9">#}
{#            <select name="{{ form.sex.name }}" value="{{ form.sex.value|default:"" }}" type="text" id="select-2"#}
{#                   class="col-xs-10 col-sm-5 validate[required] readonly_if" >#}
{#                <option value="">----</option>#}
{#                <option value="男">男</option>#}
{#                <option value="女">女</option>#}
{#            </select>#}
{#        </div>#}
{#    </div>#}

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">性别</label>
        <div class="col-sm-9 form-inline">
            <div class="radio">
                <label>
                    <input name="{{ form.sex.name }}" type="radio" class="ace validate[required] readonly_if" value="男"
                    {% if form.sex.value == '男' %}checked{% endif %} />
                    <span class="lbl"> 男</span>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input name="{{ form.sex.name }}" type="radio" class="ace readonly_if" value="女"
                    {% if form.sex.value == '女' %}checked{% endif %} />
                    <span class="lbl"> 女</span>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-37"> 出生日期 </label>
        <div class="col-sm-9">
            <div class="col-xs-10 col-sm-5  input-group">
                <input name="{{ form.birthd.name }}" value="{{ form.birthd.value|date:"Y-m-d"|default:"" }}"
                       class="form-control date-picker validate[required] readonly_if" id="form-field-37" type="text" data-date-format="yyyy-mm-dd" />
                <span class="input-group-addon">
                    <i class="fa fa-clock-o bigger-110"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-3"> 联系电话座机</label>
        <div class="col-sm-9">
            <input name="{{ form.phone.name }}" value="{{ form.phone.value|default:"" }}" type="text" id="form-field-3"
                   class="col-xs-10 col-sm-5 validate[required,maxSize[15],custom[iphone]] readonly_if" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-6"> 联系手机</label>
        <div class="col-sm-9">
            <div class="col-xs-10 col-sm-5 input-group">
                <input name="{{ form.telephone.name }}" value="{{ form.telephone.value|default:"" }}" type="text" id="form-field-6"
                       class="form-control validate[required,maxSize[50]] readonly_if" />
                <span class="input-group-addon">
                    <i class="fa fa-phone bigger-110"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-7"> 电子邮箱</label>
        <div class="col-sm-9">
            <div class="col-xs-10 col-sm-5 input-group">
                <input name="{{ form.email.name }}" value="{{ form.email.value|default:"" }}" type="text" id="form-field-7"
                       class="form-control validate[required, custom[Myemail]] readonly_if" />
                <span class="input-group-addon">
                    <i class="fa fa-envelope-o width-90"></i>
                </span>
            </div>
        </div>
    </div>
{#    <div class="form-group">#}
{#        <label class="col-sm-3 control-label no-padding-right" for="form-field-3"> 职务</label>#}
{#        <div class="col-sm-9">#}
{#            <input name="{{ form.post.name }}" value="{{ form.post.value|default:"" }}" type="text" id="form-field-3"#}
{#                   class="col-xs-10 col-sm-5 validate[required,maxSize[30]] readonly_if" />#}
{#        </div>#}
{#    </div>#}
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="select-1"> 职称</label>
        <div class="col-sm-9">
            <select name="{{ form.title.name }}" value="{{ form.title.value|default:"" }}" type="text" id="select-1"
                   class="col-xs-10 col-sm-5 validate[required] readonly_if" >
                <option value="">----</option>
                <option value="助工">助工</option>
                <option value="工程师">工程师</option>
                <option value="高级工程师">高级工程师</option>
                <option value="教授">教授</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="select-1s"> 职称专业</label>
        <div class="col-sm-9">
            <select name="{{ form.titlemajor.name }}" value="{{ form.titlemajor.value|default:"" }}" type="text" id="select-1s"
                   class="col-xs-10 col-sm-5 validate[required] readonly_if" >
                <option value="">----</option>
                <option value="水土保持类">水土保持类</option>
                <option value="水利工程类">水利工程类</option>
                <option value="资源环境类">资源环境类</option>
				<option value="其他土木工程类">其他土木工程类</option>
				<option value="非上述类别">非上述类别</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="id-input-file-5"> 职称证书</label>

        <div class="col-xs-4">
            <input type="file" id="id-input-file-5" class="input_file readonly_if file_check" name="{{ form.title_file.name }}" />
            <!-- /section:custom/file-input -->
        </div>&nbsp;&nbsp;&nbsp;
        {% if form.title_file.value %}
        <a href="{% url 'file_download' %}?PersonKey={{ form.idnum.value }}&FileName=title_file&Stackholder=ye" target="_blank" class="ipreview" data-preview="/static/{{ form.title_file.value|cut:"assets/" }}"><i class="bigger-150 green ace-icon fa fa-download ht_download_icon"></i></a>
        {% endif %}
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="select-4"> 专业</label>
        <div class="col-sm-9">
            <select name="{{ form.major.name }}" value="{{ form.major.value|default:"" }}" type="text" id="select-4"
                   class="col-xs-10 col-sm-5 validate[required] readonly_if" >
                <option value="">----</option>
                <option value="水土保持类">水土保持类</option>
                <option value="水利工程类">水利工程类</option>
                <option value="资源环境类">资源环境类</option>
				<option value="其他土木工程类">其他土木工程类</option>
				<option value="非上述类别">非上述类别</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="id-input-file-9"> 毕业证书</label>

        <div class="col-xs-4">
            <input type="file" id="id-input-file-9" class="input_file readonly_if file_check" name="{{ form.major_file.name }}" />
            <!-- /section:custom/file-input -->
        </div>&nbsp;&nbsp;&nbsp;
        {% if form.major_file.value %}
        <a href="{% url 'file_download' %}?PersonKey={{ form.idnum.value }}&FileName=major_file&Stackholder=ye" target="_blank" class="ipreview" data-preview="/static/{{ form.major_file.value|cut:"assets/" }}"><i class="bigger-150 green ace-icon fa fa-download ht_download_icon"></i></a>
        {% endif %}
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-13"> 身份证号</label>
        <div class="col-sm-9">
            <input name="{{ form.idnum.name }}" value="{{ form.idnum.value|default:"" }}" type="text" id="form-field-13"
                   class="col-xs-10 col-sm-5 validate[required,maxSize[18],minSize[18]] readonly_if" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="id-input-file-11"> 身份证</label>

        <div class="col-xs-4">
            <input type="file" id="id-input-file-11" class="input_file readonly_if file_check" name="{{ form.idnum_file.name }}" />
            <!-- /section:custom/file-input -->
        </div>&nbsp;&nbsp;&nbsp;
        {% if form.idnum_file.value %}
        <a href="{% url 'file_download' %}?PersonKey={{ form.idnum.value }}&FileName=idnum_file&Stackholder=ye" target="_blank" class="ipreview" data-preview="/static/{{ form.idnum_file.value|cut:"assets/" }}"><i class="bigger-150 green ace-icon fa fa-download ht_download_icon"></i></a>
        {% endif %}
    </div>
    {% if page == '1' %}
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-20"> 从事水土保持工作时间（年）</label>
        <div class="col-sm-9">
            <input name="{{ form.work_year.name }}" value="{{ form.work_year.value|default:"" }}" type="text" id="form-field-20"
                   class="col-xs-10 col-sm-5 validate[required,maxSize[10]] readonly_if" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="id-input-file-31"> 工作经历证明材料</label>

        <div class="col-xs-4">
            <input type="file" id="id-input-file-31" class="input_file readonly_if file_check" name="{{ form.work_file.name }}" />
            <!-- /section:custom/file-input -->
        </div>&nbsp;&nbsp;&nbsp;
        {% if form.work_file.value %}
        <a href="{% url 'file_download' %}?PersonKey={{ form.idnum.value }}&FileName=work_file&Stackholder=ye" target="_blank" class="ipreview" data-preview="/static/{{ form.work_file.value|cut:"assets/" }}"><i class="bigger-150 green ace-icon fa fa-download ht_download_icon"></i></a>
        {% endif %}
    </div>
    {% endif %}
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-10"> 简历</label>
        <div class="col-sm-5">
            <textarea class="form-control readonly_if limited" style="height: 300px;width: 77%;" name="{{ form.resume.name }}" maxlength="800" id="form-field-10" placeholder="请填写简历(800字)">{{ form.resume.value|default:"" }}</textarea>
        </div>
    </div>


    <div class="form-actions center">
        {% if examine_statue == '3' %}
        <input type="hidden" name="types" value="{{ page }}" />
        <input id="submit_btn" type="button" class="btn btn-warning" value="保存">&nbsp;&nbsp;&nbsp;
        {% endif %}
    </div>
</form>
{% endblock content %}

{% block other_js %}

<script src="{% static "js/date-time/bootstrap-datepicker.min.js" %}" ></script>
<script src="{% static "js/date-time/bootstrap-timepicker.min.js" %}" ></script>
<script src="{% static "js/date-time/moment.min.js" %}" ></script>
<script src="{% static "js/date-time/daterangepicker.min.js" %}" ></script>
<script src="{% static "js/date-time/bootstrap-datetimepicker.min.js" %}" ></script>
<script src="{% static "js/jquery.inputlimiter.1.3.1.min.js" %}" ></script>


<script>
jQuery(function($) {

    {% if page == '0' %}$('#pf').attr('class', 'active');
    {% elif page == '1' %}$('#ps').attr('class', 'active');
    {% elif page == '2' %}$('#pt').attr('class', 'active');{% endif %}

    // If the message are submitted, make them readonly
    {% if examine_statue != '3' %}
    $('.readonly_if').attr('disabled', 'disabled');
    {% endif %}

    // unique idnum for first time
    {% if firtstime == 1 %}
    $('#form-field-13').attr('class', 'col-xs-10 col-sm-5 validate[required,maxSize[18],minSize[18],ajax[ajaxIdnumRepeatS]]');
    {% endif %}

    // file upload
    $('.input_file ').ace_file_input({
					no_file:'请选择文件！',
					btn_choose:'选择',
					btn_change:'选择',
					droppable:false,
					onchange:null,
					thumbnail:false //| true | large
					//whitelist:'gif|png|jpg|jpeg'
					//blacklist:'exe|php'
					//onchange:''
					//
				});
    //pre-show a file name, for example a previously selected file
    {% if form.title_file.value %}
        $('#id-input-file-5').ace_file_input('show_file_list', ['已存在！']);
    {% endif %}
    {% if form.major_file.value %}
        $('#id-input-file-9').ace_file_input('show_file_list', ['已存在！']);
    {% endif %}
    {% if form.idnum_file.value %}
        $('#id-input-file-11').ace_file_input('show_file_list', ['已存在！']);
    {% endif %}
    {% if form.work_file.value %}
        $('#id-input-file-31').ace_file_input('show_file_list', ['已存在！']);
    {% endif %}
    

    //check the files for the first time.
    $('#submit_btn').click(function () {
        emptyfile = 0;
        {% if firtstime == 1 %}
            $('.input_file').each(function () {
                if ($(this).val() == ""){
                    emptyfile = 1;
                }
            });
        {% endif %}
        if (emptyfile == 0)
            $('#pw2_form').submit();
        else {
            // an gritter alert
            $.gritter.add({
                title: '修改失败！',
                text: '请检查并选择所有需要的文件。',
                class_name: 'gritter-error'
            });

            return false;
        }
    });


     $('textarea.limited').inputlimiter({
					remText: '还可输入 %n 字符,',
					limitText: '最大字符数量为: %n.'
				});


    //datepicker plugin
    //link
    $('.date-picker').datepicker({
        autoclose: true,
        todayHighlight: true
    })
    //show datepicker when clicking on the icon
    .next().on(ace.click_event, function(){
        $(this).prev().focus();
    });

});

//获得后台的值,把相应的select的option选为默认的值
$(document).ready(function(){
 selectCheckPayStats("select-1", "{{ form.title.value|default:"" }}");
 selectCheckPayStats("select-4", "{{ form.major.value|default:"" }}");
 selectCheckPayStats("select-1s", "{{ form.titlemajor.value|default:"" }}");
{# selectCheckPayStats("select-2", "{{ form.sex.value|default:"" }}");#}
});
//修改select的option默认显示项的方法
function selectCheckPayStats(id,value)
{
    //获得下拉列表的id
    var select = document.getElementById(id);
    //获得下拉列表的所有option
    var options = select.options;
    //循环获得对应的节点
    for(var i=0;i<options.length;i++)
    {
     //获得节点的值和后台传来的值进行比较
     if (options[i].value == value)
     {
      //如果当前节点与后台传来的值一致，则将当前节点设置为选中状态，并跳出循环
      options[i].selected = true;
      break;
     }
    }
}
</script>
{% block menu_js %}
{% endblock %}
{% endblock %}